$font-family-sans-serif:'Barlow Semi Condensed', sans-serif;

$primary:#733FC8;
$success: #49556B;
$dark: #18202D;
$secondary: #EDF2F8;


@media (min-width: 992px) {
    .alto-100{
        height: 100vh;
    }
}
.fondo-card{
    background-image: url('/images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: 80% top;
}
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 960px,
  xxl: 960px
);

@import "../node_modules/bootstrap/scss/bootstrap";